H1.PageHeader           {font-family: "arial", "sans-serif"; font-size:30px; font-weight: normal; background: #6dc7ff; color: #000000; padding-top: 15px; padding-bottom: 15px;}
IMG.EphemeridesBitmap   {border:none}
